.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
../.idea/.gitignore
../.idea/misc.xml
../.idea/modules.xml
../.idea/terraform_1.2.9_windows_amd64.iml
./.idea/vcs.xml
./learning_terra/.terraform.lock.hcl
./learning_terra/.terraform/providers/registry.terraform.io/hashicorp/aws/4.33.0/windows_amd64/terraform-provider-aws_v4.33.0_x5.exe
./learning_terra/main.tf
./learning_terra/terra-learing
./learning_terra/terraform.tfstate
./learning_terra/terraform.tfstate.backup
idea/misc.xml
idea/modules.xml
idea/terra-learing.iml
idea/workspace.xml
terraform.lock.hcl
terraform/.vs/.terraform/FileContentIndex/6ae5ed48-fe1f-4705-9de3-de267a93f72c.vsidx
terraform/.vs/.terraform/FileContentIndex/read.lock
terraform/.vs/.terraform/v17/.suo
terraform/.vs/VSWorkspaceState.json
terraform/.vs/slnx.sqlite
terraform/modules/modules.json
terraform/providers/registry.terraform.io/hashicorp/aws/4.31.0/windows_amd64/terraform-provider-aws_v4.31.0_x5.exe
terraform/providers/registry.terraform.io/hashicorp/aws/4.32.0/windows_amd64/terraform-provider-aws_v4.32.0_x5.exe
vs/VSWorkspaceState.json
vs/slnx.sqlite
vs/terra-learing/FileContentIndex/a8ced01f-9cae-472a-9763-0e652097ac74.vsidx
vs/terra-learing/FileContentIndex/read.lock
vs/terra-learing/v17/.suo
           
           
           
           